.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.button {
    margin-left: 5px;
}

.button-active {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}